<ul class="nav nav-tabs">
        <li class="{% if active == 1 %}active{% endif %}"><a class="tab-link" href="{{ url('newscoop_paywall_admin_admin') }}" data-href="">{{ 'paywall.menu.label.addsubscription'|trans }}</a></li>
        <li class="{% if active == 2 %}active{% endif %}"><a class="tab-link" href="{{ url('newscoop_paywall_managesubscriptions_manage') }}" data-href="">{{ 'paywall.menu.label.managesubscriptions'|trans }}</a></li>
        <li class="{% if active == 3 %}active{% endif %}"><a class="tab-link" href="{{ url('paywall_plugin_userorder_index') }}">{{ 'paywall.menu.label.orders'|trans }}</a></li>
        <li class="{% if active == 4 %}active{% endif %}"><a class="tab-link" href="{{ url('newscoop_paywall_configurepaywall_index') }}">{{ 'paywall.menu.label.configure.paywall'|trans }}</a></li>
        <li class="{% if active == 5 %}active{% endif %}"><a class="tab-link" href="{{ url('newscoop_paywall_discount_index') }}">{{ 'paywall.menu.label.discounts'|trans }}</a></li>
        <li class="{% if active == 6 %}active{% endif %} last"><a class="tab-link" href="{{ url('paywall_plugin_currency_index') }}">{{ 'paywall.menu.label.currencies'|trans }}</a></li>
</ul>
