{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manage'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/table.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('#subscriptionsTable').css('font-size', '13px');
    $('#subscriptionsTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });

    $('#subscriptionsTable').on('click', '.delete-subscription', function(event){
        var dataTableCell = $(this).parent();
        var dataTableRow = dataTableCell.parent().get(0);
        event.preventDefault();
        $.post($(this).attr('href'), 
         function(data) {
            if (data.status) {
                flashMessage('{{ 'paywall.flash.message.subscription.deleted'|trans }}');
                dataTableRow.remove();
                return false;
            }
        });
    });   
});
</script>
{% endblock %}
{% block admin_content %}
<div id="subscription">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 2} %}

    <div id="manage-subscriptions" style="padding: 10px 10px 30px 10px;">
        <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="subscriptionsTable">
            <thead>
                <tr>
                    <th>{{ 'paywall.manage.label.name'|trans }}</th>
                    <th>{{ 'paywall.step2.label.type'|trans }}</th>
                    <th>{{ 'paywall.manage.label.duration'|trans }}</th>
                    <th>{{ 'paywall.step2.label.price'|trans }}</th>
                    <th>{{ 'paywall.step2.label.currency'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in subscriptions %}
                <tr id="{{ subscription.id }}">
                    <td>{{ subscription.name }}</td>
                    <td align="center">{{ subscription.type }}</td>
                    <td align="center">{{ subscription.range }}</td>
                    <td align="center">{{ subscription.price }}</td>
                    <td align="center">{{ subscription.currency }}</td>
                    <td>
                        <a class="delete-subscription" href="{{ path('newscoop_paywall_managesubscriptions_delete', {'id': subscription.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                        <a class="edit-subscription" href="{{ path('newscoop_paywall_admin_update', {'id': subscription.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{{ 'paywall.manage.label.name'|trans }}</th>
                    <th>{{ 'paywall.step2.label.type'|trans }}</th>
                    <th>{{ 'paywall.manage.label.duration'|trans }}</th>
                    <th>{{ 'paywall.step2.label.price'|trans }}</th>
                    <th>{{ 'paywall.step2.label.currency'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}