{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Paywall{% endblock %}
{% block admin_page_title_content %}Manage subscriptions{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/table.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooppaywall/js/jquery.jeditable.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#subscriptionsTable').css('font-size', '13px');
    $('#subscriptionsTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });

    $('#subscriptionsTable').on('click', '.delete-subscription', function(event){
        var dataTableCell = $(this).parent();
        var dataTableRow = dataTableCell.parent().get(0);
        event.preventDefault();
        $.post($(this).attr('href'), 
           function(data) {
            if (data.status) {
                flashMessage('Subscription has been deleted.');
                dataTableRow.remove();
                return false;
            }
        });
    });

    var oTable = $('#subscriptionsTable').dataTable();
    $('td[class!="readonly"]', oTable.fnGetNodes()).editable( '{{ path('newscoop_paywall_edit') }}', {
        "callback": function( sValue ) {
            var aPos = oTable.fnGetPosition( this );
            oTable.fnUpdate( sValue, aPos[0], aPos[1] );
            flashMessage('Subscription has been updated.');
        },
        "submitdata": function ( value, settings ) {
            return {
                "row_id": this.parentNode.getAttribute('id'),
                "column": oTable.fnGetPosition( this )[2]
            };
        },
        "height": "14px"
    });
});
</script>
{% endblock %}
{% block admin_content %}
<div id="subscription">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 2} %}

    <div id="manage-subscriptions" style="padding: 10px 10px 30px 10px;">
        <form id="editForm" action="{{ path('newscoop_paywall_edit') }}" method="post" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="PUT" />
            <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="subscriptionsTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Duration in days</th>
                        <th>Value</th>
                        <th>Currency</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscription in subscriptions %}
                    <tr id="{{ subscription.id }}">
                        <td>{{ subscription.name }}</td>
                        <td class="readonly">{{ subscription.type }}</td>
                        <td><div class="editable">{{ subscription.range }}</div></td>
                        <td>{{ subscription.price}}</td>
                        <td>{{ subscription.currency }}</td>
                        <td class="readonly"><a class="delete-subscription" href="{{ path('newscoop_paywall_managesubscriptions_delete', {'id': subscription.id}) }}">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Duration in days</th>
                        <th>Value</th>
                        <th>Currency</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
            </table>
        </form>
    </div>
</div>
{% endblock %}