{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Paywall{% endblock %}
{% block admin_page_title_content %}Manage subscriptions - Edit{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}{% endblock %}

{% block admin_content %}
{% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 2} %}
<form action="{{ path('newscoop_paywall_managesubscriptions_update', {'id' : subscription_id }) }}" method="post" {{ form_enctype(form) }} >
    <table border="0" cellspacing="0" cellpadding="0" class="box_table">
        <tbody>
            <tr>
                <td>
                    <div class="errors">{{ form_errors(form) }}</div>
                </td>
            </tr>
            <tr>
                <td align="left">   
                    {{ form_label(form.name) }}
                </td>
                <td align="left">
                    {{ form_label(form.type) }} 
                </td>
                <td align="left">
                    {{ form_label(form.range) }}    
                </td>
                <td align="left">
                    {{ form_label(form.price) }}    
                </td>
                <td align="left">
                    {{ form_label(form.currency) }}    
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    {{ form_widget(form.name, {'attr' : {'class' : 'input_text'}}) }}
                </td>
                <td>
                    {{ form_widget(form.type, {'attr' : {'class' : 'input_select'}}) }}
                </td>
                <td align="left" valign="top">
                    {{ form_widget(form.range, {'attr' : {'class' : 'input_text'}}) }}
                </td>
                <td align="left" valign="top">
                    {{ form_widget(form.price, {'attr' : {'class' : 'input_text'}}) }}
                </td>
                <td align="left" valign="top">
                    {{ form_widget(form.currency, {'attr' : {'class' : 'input_text'}}) }}
                </td>
            </tr>
            <tr>
                <td colspan="5"><hr></td>
            </tr>
            <tr>
                <td colspan="5" align="right" style="padding-top: 10px;">
                    <input type="submit" value="Save" class="save-button">
                </td>
            </tr>
            {{ form_rest(form) }}
        </tbody>
    </table>
</form>
{% endblock %}
