{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manageusers'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/table.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.js') }}"></script>
<script type="text/javascript">
function jsTable(element) {
    element.dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });
};

function deleteSubscription(element, tbody, div) {
    element.on('click', '.delete-subscription', function(event){
        var dataTableCell = $(this).parent();
        var dataTableRow = dataTableCell.parent().get(0);
        event.preventDefault();
        $.post($(this).attr('href'), 
         function(data) {
            if (data.status) {
                flashMessage('{{ 'paywall.flash.message.subscription.deleted'|trans }}');
                dataTableRow.remove();
                if (!tbody.children().length) {
                    div.remove();
                }
                return false;
            }
        });
    });
};

function format(item) { return item.name; };
function formatDiv(item) { return "<div class='select2-results'>" + item.id + " " + item.name + "</div>"; }
function selectBox(type) {
    $("#select").select2({
        placeholder: "Select",
        ajax: {
            url: Routing.generate('newscoop_paywall_userssubscriptions_getdata', {'type': type}),
            dataType: 'json',
            data: function () {
                return {
                    subscriptionId: $("#subscriptionId").val(),
                    languageId: $("#languageId").val()
                };
            },
            results: function (data) {
                return {results: data};
            }
        },
        initSelection: function(element, callback) {
            var data = {id: element.val(), text: element.val()};
            callback(data);
        },
        formatResult: formatDiv,
        formatSelection: format,
        escapeMarkup: function (m) { return m; }

    }).on("change", function (e) {
        $('#selectedId').val($("#select").select2("val"));  
    });
};

function buttonClick(id, text, url) {
    id.click(function() {
        var edit_template = $('#edit-all-template');
        var editForm = $('#editForm');
        var attr = id.attr('id');
        $('.tr.language').hide();
        $('.tr.select').hide();
        if (attr === 'issue' || attr === 'section' || attr === 'article') {
            selectBox(attr);
            $('#select').select2("enable", false);
            $('.tr.language').show();
            $('.tr.select').show();
        }
        editForm.attr('action', Routing.generate('newscoop_paywall_userssubscriptions_'+url, {'type': attr, 'id': {{ id }} }));
        $('#ui-dialog-title-edit-all-template').text(text);
        edit_template.attr('title', text);
        edit_template.dialog();
    });
};

$(document).ready(function() {
    jsTable($('#issuesTable'));
    jsTable($('#sectionsTable'));
    jsTable($('#articlesTable'));
    deleteSubscription($('#articlesTable'), $('#articlesTable tbody'), $('#articles'));
    deleteSubscription($('#sectionsTable'), $('#sectionsTable tbody'), $('#sections'));
    deleteSubscription($('#issuesTable'), $('#issuesTable tbody'), $('#issues'));
    $('#select').prop('disabled', 'disabled');
    $("#selectLanguages").select2().on("change", function (e) {
        $("#select").select2("enable", true);   
    });
    buttonClick($('#edit-all-issues'), 'Edit all issues', 'edit');
    buttonClick($('#edit-all-sections'), 'Edit all sections', 'edit');
    buttonClick($('#edit-all-articles'), 'Edit all articles', 'edit');
    buttonClick($('#issue'), 'Add issue', 'add');
    buttonClick($('#section'), 'Add section', 'add');
    buttonClick($('#article'), 'Add article', 'add');

    $('#save').click(function() {
        if (!$("#select").select2("val")) {
            alert('Select box can not be empty!');
            return false;
        }
        if (!$("#selectLanguages").select2("val")) {
            alert('Select box can not be empty!');
            return false;
        }
        return true;
    });

    $('#back').click(function() {
        window.location.href = Routing.generate('newscoop_paywall_userssubscriptions_index');
    });
});
</script>
{% endblock %}

{% block admin_content %}
<div id="subscription">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 3} %}
    <fieldset class="actions" style="background-color: #fff;">
        <input type="button" id="back" class="save-button" value="Go back to users subscriptions">
        {% if (type == 'issue') %}
            <input type="button" id="issue" class="button" value="{{ 'paywall.manage.label.addissue'|trans }}">
        {% elseif (type == 'section') %}
            <input type="button" id="section" class="button" value="{{ 'paywall.manage.label.addsection'|trans }}">
        {% elseif (type == 'article') %}
            <input type="button" id="article" class="button" value="{{ 'paywall.manage.label.addarticle'|trans }}">
        {% endif %}
        {% if issues %}
            <input type="button" id="edit-all-issues" class="button" value="{{ 'paywall.manage.label.editallissues'|trans }}">
        {% elseif sections %}
            <input type="button" id="edit-all-sections" class="button" value="{{ 'paywall.manage.label.editallsections'|trans }}">
        {% elseif articles %}
            <input type="button" id="edit-all-articles" class="button" value="{{ 'paywall.manage.label.editallarticles'|trans }}">
        {% endif %}
    </fieldset>
    <div id="edit-all-template" style="display: none">
        <form id="editForm" method="post" {{ form_enctype(form) }}>
            <input type="hidden" id="subscriptionId" name="subscriptionId" value="{{ subscription_id }}"></input>
            <div class="table">
                <div class="tr language">
                    <div class="td"><strong>{{ 'paywall.manage.label.language'|trans }}</strong></div>
                </div>
                <div class="tr language">
                    <div class="td">
                        <select id="selectLanguages" style="width: 240px">
                            <option value="en">{{ 'paywall.manage.label.individuallanguage'|trans }}</option>
                            <option value="all">{{ 'paywall.manage.label.reglanguage'|trans }}</option>
                        </select>
                        <input type="hidden" id="languageId" name="languageId" value="{{ subscription_language }}"></input>
                    </div>
                </div>
                <div class="tr select">
                    <div class="td"><strong>{{ 'paywall.manage.label.content'|trans }}</strong></div>
                </div>
                <div class="tr select">
                    <div class="td">
                        <div id="select" class="populate placeholder" style="width: 240px"></div>
                        <input type="hidden" id="selectedId" name="selectedId"></input>
                    </div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.startDate) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.startDate, {'attr' : {'class' : 'input_text'}}) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.days) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.days, {'attr' : {'class' : 'input_text'}}) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.paidDays) }}</strong> </div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.paidDays, {'attr' : {'class' : 'input_text'}}) }}</div>
                </div>
                <hr>
                <div class="tr">
                    <div class="td">
                        <input type="submit" id="save" value="{{ 'paywall.btn.save'|trans }}" class="save-button">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if issues %}
    <div id="issues" style="padding: 10px 10px 30px 10px;">
        <fieldset class="actions" id="details-header">
            <span>{{ 'paywall.manage.label.issues'|trans }}:</span>
        </fieldset>
        <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="issuesTable">
            <thead>
                <tr>
                    <th>{{ 'paywall.step1.form.select.type.issue'|trans }}</th>
                    <th>{{ 'paywall.manage.label.language'|trans }}</th>
                    <th>{{ 'paywall.manage.label.startdate'|trans }}<br /><small>(yyyy-mm-dd)</small></th>
                    <th>{{ 'paywall.manage.label.days'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paiddays'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for issue in issues %}
                <tr>
                    <td>{{ issue.name }}</td>
                    <td align="center">{{ issue.language }}</td>
                    <td align="center">{{ issue.date|date('Y-m-d') }}</td>
                    <td align="center">{{ issue.days }}</td>
                    <td align="center">{{ issue.paid }}</td>
                    <td>
                        <a class="delete-subscription" href="{{ path('newscoop_paywall_userssubscriptions_remove', {'type': 'issue', 'id': issue.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                        <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_edit', {'type': 'issue', 'id': issue.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th>{{ 'paywall.step1.form.select.type.issue'|trans }}</th>
                    <th>{{ 'paywall.manage.label.language'|trans }}</th>
                    <th>{{ 'paywall.manage.label.startdate'|trans }}<br /><small>(yyyy-mm-dd)</small></th>
                    <th>{{ 'paywall.manage.label.days'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paiddays'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% elseif sections %}
    <div id="sections" style="padding: 10px 10px 30px 10px;">
        <fieldset class="actions" id="details-header">
            <span>{{ 'paywall.manage.label.sections'|trans }}:</span>
        </fieldset>
        <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="sectionsTable">
            <thead>
                <tr>
                    <th>{{ 'paywall.step1.form.select.type.section'|trans }}</th>
                    <th>{{ 'paywall.manage.label.language'|trans }}</th>
                    <th>{{ 'paywall.manage.label.startdate'|trans }}<br /><small>(yyyy-mm-dd)</small></th>
                    <th>{{ 'paywall.manage.label.days'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paiddays'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr>
                    <td>{{ section.name }}</td>
                    <td align="center">{{ section.language }}</td>
                    <td align="center">{{ section.date|date('Y-m-d') }}</td>
                    <td align="center">{{ section.days }}</td>
                    <td align="center">{{ section.paid }}</td>
                    <td>
                        <a class="delete-subscription" href="{{ path('newscoop_paywall_userssubscriptions_remove', {'type': 'section', 'id': section.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                        <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_edit', {'type': 'section', 'id': section.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th>{{ 'paywall.step1.form.select.type.section'|trans }}</th>
                    <th>{{ 'paywall.manage.label.language'|trans }}</th>
                    <th>{{ 'paywall.manage.label.startdate'|trans }}<br /><small>(yyyy-mm-dd)</small></th>
                    <th>{{ 'paywall.manage.label.days'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paiddays'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% elseif articles %}
    <div id="articles" style="padding: 10px 10px 30px 10px;">
        <fieldset class="actions" id="details-header">
            <span>{{ 'paywall.manage.label.articles'|trans }}:</span>
        </fieldset>
        <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="articlesTable">
            <thead>
                <tr>
                    <th>{{ 'paywall.step1.form.select.type.article'|trans }}</th>
                    <th>{{ 'paywall.manage.label.language'|trans }}</th>
                    <th>{{ 'paywall.manage.label.startdate'|trans }}<br /><small>(yyyy-mm-dd)</small></th>
                    <th>{{ 'paywall.manage.label.days'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paiddays'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td align="center">{{ article.language }}</td>
                    <td align="center">{{ article.date|date('Y-m-d') }}</td>
                    <td align="center">{{ article.days }}</td>
                    <td align="center">{{ article.paid }}</td>
                    <td>
                        <a class="delete-subscription" href="{{ path('newscoop_paywall_userssubscriptions_remove', {'type': 'article', 'id': article.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                        <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_edit', {'type': 'article', 'id': article.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <th>{{ 'paywall.step1.form.select.type.article'|trans }}</th>
                    <th>{{ 'paywall.manage.label.language'|trans }}</th>
                    <th>{{ 'paywall.manage.label.startdate'|trans }}<br /><small>(yyyy-mm-dd)</small></th>
                    <th>{{ 'paywall.manage.label.days'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paiddays'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    {% else %}
        <fieldset class="actions" style="background-color: #fff;">
            {{ 'paywall.manage.label.nocontent'|trans }}
        </fieldset>
    {% endif %}
</div>
{% endblock %}