{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manageusers'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/table.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript">
$(document).ready(function(){
    $('#sectionsTable').css('font-size', '13px');
    $('#sectionsTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });

    $('#subscriptionsTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });

    $('#subscriptionsTable').on('click', '.delete-subscription', function(event){
        var dataTableCell = $(this).parent();
        var dataTableRow = dataTableCell.parent().get(0);
        event.preventDefault();
        $.post($(this).attr('href'), 
         function(data) {
            if (data.status) {
                flashMessage('{{ 'paywall.flash.message.subscription.deleted'|trans }}');
                dataTableRow.remove();
                return false;
            }
        });
    });

    $('#articlesTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });

    $('#articlesTable').on('click', '.delete-subscription', function(event){
        var dataTableCell = $(this).parent();
        var dataTableRow = dataTableCell.parent().get(0);
        event.preventDefault();
        $.post($(this).attr('href'), 
         function(data) {
            if (data.status) {
                flashMessage('{{ 'paywall.flash.message.subscription.deleted'|trans }}');
                dataTableRow.remove();
                return false;
            }
        });
    });
});
</script>
{% endblock %}

{% block admin_content %}
<div id="subscription">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 3} %}
    {% if issues %}
        <h1><strong>Issues:</strong></h1>
        <div id="issues" style="padding: 10px 10px 30px 10px;">
            <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="sectionsTable">
                <thead>
                    <tr>
                        <th>Issue</th>
                        <th>Language</th>
                        <th>Start Date<br /><small>(yyyy-mm-dd)</small></th>
                        <th>Days</th>
                        <th>Paid days</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for issue in issues %}
                    <tr>
                        <td>{{ issue.name }}</td>
                        <td>{{ issue.language }}</td>
                        <td>{{ issue.date|date('Y-m-d') }}</td>
                        <td>{{ issue.days }}</td>
                        <td>{{ issue.paid }}</td>
                        <td>
                            <a class="delete-subscription" href="{{ path('newscoop_paywall_userssubscriptions_remove', {'id': issue.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                            <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_edit', {'id': issue.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>Issue</th>
                        <th>Language</th>
                        <th>Start Date<br /><small>(yyyy-mm-dd)</small></th>
                        <th>Days</th>
                        <th>Paid days</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}
    {% if sections %}
        <h1><strong>Sections:</strong></h1>
        <div id="sections" style="padding: 10px 10px 30px 10px;">
            <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="subscriptionsTable">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Language</th>
                        <th>Start Date<br /><small>(yyyy-mm-dd)</small></th>
                        <th>Days</th>
                        <th>Paid days</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td>{{ section.name }}</td>
                        <td>{{ section.language }}</td>
                        <td>{{ section.date|date('Y-m-d') }}</td>
                        <td>{{ section.days }}</td>
                        <td>{{ section.paid }}</td>
                        <td>
                            <a class="delete-subscription" href="{{ path('newscoop_paywall_userssubscriptions_remove', {'id': section.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                            <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_edit', {'id': section.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>Section</th>
                        <th>Language</th>
                        <th>Start Date<br /><small>(yyyy-mm-dd)</small></th>
                        <th>Days</th>
                        <th>Paid days</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}
    {% if articles %}
        <h1><strong>Articles:</strong></h1>
        <div id="articles" style="padding: 10px 10px 30px 10px;">
            <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="articlesTable">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Language</th>
                        <th>Start Date<br /><small>(yyyy-mm-dd)</small></th>
                        <th>Days</th>
                        <th>Paid days</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.name }}</td>
                        <td>{{ article.language }}</td>
                        <td>{{ article.date|date('Y-m-d') }}</td>
                        <td>{{ article.days }}</td>
                        <td>{{ article.paid }}</td>
                        <td>
                            <a class="delete-subscription" href="{{ path('newscoop_paywall_userssubscriptions_remove', {'id': article.id}) }}">{{ 'paywall.btn.delete'|trans }}</a> | 
                            <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_edit', {'id': article.id}) }}">{{ 'paywall.btn.edit'|trans }}</a>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th>Article</th>
                        <th>Language</th>
                        <th>Start Date<br /><small>(yyyy-mm-dd)</small></th>
                        <th>Days</th>
                        <th>Paid days</th>
                        <th>Options</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}
</div>
{% endblock %}