{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manageusers'|trans }} - {{ 'paywall.btn.edit'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#back').click(function() {
        window.location.href = Routing.generate('newscoop_paywall_userssubscriptions_index');
    });
});
</script>
{% endblock %}

{% block admin_content %}
<div class="plugin-container">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 3} %}
    <div id="edit-subscription" style="padding: 10px 10px 30px 10px;">

        <div class="row" id="user-profile-subscription">
            <div class="col-sm-4 col-md-4 user-details">
                <div class="user-image">
                    <img src="{{ user.image(100, 100, 'crop') }}" alt="{{ subscription.user.name }}" title="{{ subscription.user.name }}" class="img-circle">
                </div>
                <div class="user-info-block">
                    <div class="user-heading">
                        <h3>{{ subscription.user.name }}</h3>
                        <span class="help-block">{{ subscription.user.username }} - <b>{{ 'paywall.step1.form.select.type.publication'|trans }}:</b> {{ subscription.publication.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <form class="form-horizontal" role="form" id="subscriptioneditForm" action="{{ path('newscoop_paywall_userssubscriptions_editsubscription', {'id': subscription.id}) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <div class="errors">{{ form_errors(form) }}</div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="card-holder-name">{{ form_label(form.currency) }}</label>
                    <div class="col-sm-3">
                      {{ form_widget(form.currency, {'attr' : {'class' : 'form-control'}}) }}
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="card-number">{{ form_label(form.type) }}</label>
                <div class="col-sm-3">
                    {{ form_widget(form.type, {'attr' : {'class' : 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                  <input type="button" class="btn btn-default" id="back" value="{{ 'paywall.btn.back'|trans }}">
                  <input type="submit" class="btn btn-success" value="{{ 'paywall.btn.save'|trans }}">
              </div>
          </div>
      </fieldset>
  </form>
</div>
</div>
{% endblock %}