{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manageusers'|trans }} - {{ 'paywall.btn.edit'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#back').click(function() {
        window.location.href = Routing.generate('newscoop_paywall_userssubscriptions_details', {id: {{ subscription.subscription.id }}});
    });
});
</script>
{% endblock %}

{% block admin_content %}
<div class="plugin-container">
{% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 3} %}
<div id="details-subscription" style="padding: 10px 10px 30px 10px;">
    <form id="detailsForm" action="{{ path('newscoop_paywall_userssubscriptions_edit', {'type': type, 'id': subscription.id}) }}" method="post" {{ form_enctype(form) }}>
        <table border="0" cellspacing="1" cellpadding="0" class="box_table" style="width: 355px">
            <tbody>
               <tr>
                    <td>
                        <div class="errors"></div>
                    </td>
                </tr>
                <tr>
                    <td align="left">   
                        <strong>{{ 'paywall.manage.label.name'|trans }}</strong>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        {{ subscription.name }}
                    </td>
                </tr>
                <tr>
                    <td align="left">   
                        <strong>{{ 'paywall.manage.label.language'|trans }}</strong>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        {{ subscription.language.name }}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <strong>{{ form_label(form.startDate) }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.startDate, {'attr' : {'class' : 'input_text'}}) }}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <strong>{{ form_label(form.days) }}</strong> 
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        {{ form_widget(form.days, {'attr' : {'class' : 'input_text'}}) }}
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <strong>{{ form_label(form.paidDays) }}</strong>    
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="top">
                        {{ form_widget(form.paidDays, {'attr' : {'class' : 'input_text'}}) }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td colspan="2" align="right" style="padding-top: 10px;">
                        <input type="button" id="back" value="{{ 'paywall.btn.back'|trans }}" class="button">
                        <input type="submit" value="{{ 'paywall.btn.save'|trans }}" class="save-button">
                    </td>
                </tr>   
            </tbody>
        </table>
    </form>
</div>
</div>
{% endblock %}