{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manageusers'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/table.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.js') }}"></script>
<script type="text/javascript">
function format(item) { return item.name; };
function formatDiv(item) { return "<div class='select2-results'>" + item.name + "</div>"; }
function getDetails(typeDetails, durationDetails, priceDetails, currencyDetails ) {
    $.post(Routing.generate('newscoop_paywall_userssubscriptions_getsubscriptiondetailsajax'), {
            'subscriptionId': $('#subscriptionaddForm_subscriptions').select2('data').id
        }, function (data) {
            typeDetails.append(data[0].type);
            durationDetails.append(data[0].range);
            priceDetails.append(data[0].price);
            currencyDetails.append(data[0].currency);
        }, 'json');
};
$(document).ready(function(){
    var typeDetails = $('#typeDetails span');
    var durationDetails = $('#durationDetails span');
    var priceDetails = $('#priceDetails span');
    var currencyDetails = $('#currencyDetails span');
    $('#users-subscriptionsTable').css('font-size', '13px');
    var oTable = $('#users-subscriptionsTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sNext': '{{ getGS('Next') }}',
                'sLast': '{{ getGS('Last') }}',
                'sPrevious': '{{ getGS('Previous') }}',
                'sFirst': '{{ getGS('First') }}'
            },
            'sZeroRecords': '{{ getGS('No records found.') }}',
            'sSearch': '{{ getGS('Search') }}:',
            'sInfo': '{{ getGS('Showing _START_ to _END_ of _TOTAL_ entries') }}',
            'sEmpty': '{{ getGS('No entries to show') }}',
            'sInfoFiltered': '{{ getGS(' - filtering from _MAX_ records') }}',
            'sLengthMenu': '{{ getGS('Display _MENU_ records') }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
    });

    $('#users-subscriptionsTable').on('click', '.change-status', function(event){
        var id = $(this).attr('id');
        var obj = $("#"+id);
        event.preventDefault();
        $.post($(this).attr('href'), 
         function(data) {
            if (data.status) {
                var rowIndex = oTable.fnGetPosition(obj[0]);
                if (obj.find('td.status').attr('id') === 'deactivated') {
                    obj.find('td#deactivated').removeAttr('id');
                    obj.find('td.status').attr('id', 'active');
                    obj.find('.change-status').empty();
                    obj.find('.change-status').append('Deactivate');
                    obj.find('.change-status').attr('href', Routing.generate('newscoop_paywall_userssubscriptions_delete', {'id': id}));
                    oTable.fnUpdate('Active', rowIndex, 4);
                    flashMessage('{{ 'paywall.flash.message.subscription.activated'|trans }}');
                } else {
                    obj.find('td#active').removeAttr('id');
                    obj.find('td.status').attr('id', 'deactivated');
                    obj.find('.change-status').empty();
                    obj.find('.change-status').append('Activate');
                    obj.find('.change-status').attr('href', Routing.generate('newscoop_paywall_userssubscriptions_activate', {'id': id}));
                    oTable.fnUpdate('Deactivated', rowIndex, 4);
                    flashMessage('{{ 'paywall.flash.message.subscription.deleted'|trans }}');
                }
            }
        });
    });

    $('#add-new-subscription').click(function() {
        var edit_template = $('#edit-all-template');
        var addForm = $('#addForm');
        addForm.attr('action', Routing.generate('newscoop_paywall_userssubscriptions_addsubscription'));
        $('#ui-dialog-title-edit-all-template').text('Add user subscription');
        edit_template.attr('title', 'Add user subscription');
        edit_template.dialog();
    });

    $('#subscriptionaddForm_users').css('width', '250px');
    $('#subscriptionaddForm_users').select2({
        minimumInputLength: 1
    });
    $('#subscriptionaddForm_subscriptions').css('width', '250px');
    $('#subscriptionaddForm_subscriptions').select2({
        minimumInputLength: 1
    }).on("change", function (e) {
        typeDetails.empty();
        durationDetails.empty();
        priceDetails.empty();
        currencyDetails.empty();
        getDetails(typeDetails, durationDetails, priceDetails, currencyDetails);
    });
    getDetails(typeDetails, durationDetails, priceDetails, currencyDetails);
    $('#subscriptionaddForm_type').css('width', '250px');
    $('#subscriptionaddForm_type').select2();
    $('#subscriptionaddForm_status').css('width', '250px');
    $('#subscriptionaddForm_status').select2();
    
});
</script>
{% endblock %}
{% block admin_content %}
<div id="subscription">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 3} %}
    <fieldset class="actions" style="background-color: #fff;">
        <input type="button" id="add-new-subscription" class="save-button" value="{{ 'paywall.manage.label.addnew'|trans }}">
    </fieldset>
    <div id="edit-all-template" style="display: none">
        <form id="addForm" method="post" {{ form_enctype(form) }}>
            <div class="table">
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.users) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.users) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.subscriptions) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.subscriptions) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.type) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.type) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.status) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.status) }}</div>
                </div>
                 <div class="tr">
                    <div class="td"><strong>{{ 'paywall.manage.label.subscriptiondetails'|trans }}:</strong></div>
                </div>
                <div class="tr">
                    <div class="td" id="typeDetails"><strong>{{ 'paywall.step2.label.type'|trans }}: </strong><span></span></div>
                </div>
                <div class="tr">
                    <div class="td" id="durationDetails"><strong>{{ 'paywall.step2.label.durationbox'|trans }}: </strong><span></span></div>
                </div>
                <div class="tr">
                    <div class="td" id="priceDetails"><strong>{{ 'paywall.step2.label.price'|trans }}: </strong><span></span></div>
                </div>
                <div class="tr">
                    <div class="td" id="currencyDetails"><strong>{{ 'paywall.step2.label.currency'|trans }}: </strong><span></span></div>
                </div>
                <hr>
                <div class="tr">
                    <div class="td">
                        <input type="submit" id="save" value="{{ 'paywall.btn.add'|trans }}" class="save-button">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="users-subscriptions" style="padding: 10px 10px 30px 10px;">
        <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="users-subscriptionsTable">
            <thead>
                <tr>
                    <th>{{ 'paywall.manage.label.username'|trans }}</th>
                    <th>{{ 'paywall.step1.form.select.type.publication'|trans }}</th>
                    <th>{{ 'paywall.manage.label.topay'|trans }}</th>
                    <th>{{ 'paywall.step2.label.currency'|trans }}</th>
                    <th>{{ 'paywall.step2.label.active'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paymenttype'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for subscription in subscriptions %}
                    <tr id="{{ subscription.id }}">
                        <td><a href="../user/edit/user/{{ subscription.id }}">{{ subscription.username }}</a></td>
                        <td>{{ subscription.publication }}</td>
                        <td align="center">{{ subscription.topay }}</td>
                        <td align="center">{{ subscription.currency }}</td>
                        {% if (subscription.active == "Y") %}
                            <td align="center" class="status" id="active">
                                {{ 'paywall.manage.label.active'|trans }}
                            </td>
                        {% else %}
                            <td align="center" class="status" id="deactivated">
                                {{ 'paywall.manage.label.deactivated'|trans }}
                            </td>
                        {% endif %}
                        <td align="center">
                            {% if (subscription.type == "P") %}
                                {{ 'paywall.manage.label.paid'|trans }}
                            {% elseif (subscription.type == "PN") %}
                                {{ 'paywall.manage.label.paidnow'|trans }}
                            {% elseif (subscription.type == "T") %}
                                {{ 'paywall.manage.label.trial'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_editsubscription', {'id': subscription.id}) }}">{{ 'paywall.btn.edit'|trans }}</a> |
                            <a class="details-subscription" href="{{ path('newscoop_paywall_userssubscriptions_details', {'id': subscription.id}) }}">{{ 'paywall.btn.details'|trans }}</a> |
                            {% if (subscription.active == "Y") %}
                            <a class="change-status" id="{{ subscription.id }}" href="{{ path('newscoop_paywall_userssubscriptions_delete', {'id': subscription.id}) }}">{{ 'paywall.btn.deactivate'|trans }}</a>
                            {% else %} 
                            <a class="change-status" id="{{ subscription.id }}" href="{{ path('newscoop_paywall_userssubscriptions_activate', {'id': subscription.id}) }}">{{ 'paywall.btn.activate'|trans }}</a>
                            {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{{ 'paywall.manage.label.username'|trans }}</th>
                    <th>{{ 'paywall.step1.form.select.type.publication'|trans }}</th>
                    <th>{{ 'paywall.manage.label.topay'|trans }}</th>
                    <th>{{ 'paywall.step2.label.currency'|trans }}</th>
                    <th>{{ 'paywall.step2.label.active'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paymenttype'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}