{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.manageusers'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('admin-style/table.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('/js/select2/select2.css') }}" />
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/jquery.dynatable.css') }}">
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('/js/select2/select2.js') }}"></script>
<script src="{{ asset('/bundles/newscoopnewscoop/js/jquery.dynatable.js') }}"></script>
<script type="text/javascript">
function format(item) { return item.name; };
function formatDiv(item) { return "<div class='select2-results'>" + item.name + "</div>"; }
function getDetails(typeDetails, durationDetails, priceDetails, currencyDetails ) {
    $.post(Routing.generate('newscoop_paywall_userssubscriptions_getsubscriptiondetailsajax'), {
            'subscriptionId': $('#subscriptionaddForm_subscriptions').select2('data').id
        }, function (data) {
            typeDetails.append(data[0].type);
            durationDetails.append(data[0].range);
            priceDetails.append(data[0].price);
            currencyDetails.append(data[0].currency);
        }, 'json');
};

$(document).ready(function(){
    var translations = {'btn.deactivate': 'Deactivate', 
        'label.active': 'Active',
        'label.deactivated': 'Deactivated',
        'btn.activate': 'Activate',
        'label.addsubscription': 'Add user subscription'
    };
    var typeDetails = $('#typeDetails span');
    var durationDetails = $('#durationDetails span');
    var priceDetails = $('#priceDetails span');
    var currencyDetails = $('#currencyDetails span');
    $('#users-subscriptionsTable').css('font-size', '13px');

    var oTable = $('#users-subscriptionsTable').dataTable( {
        'oLanguage': {
            'oPaginate': {
                'sFirst': '{{ 'paywall.datatable.label.first'|trans }}',
                'sNext': '{{ 'paywall.datatable.label.next'|trans }}',
                'sPrevious': '{{ 'paywall.datatable.label.previous'|trans }}',
                'sLast': '{{ 'paywall.datatable.label.last'|trans }}',
            },
            'sZeroRecords': '{{ 'paywall.datatable.label.norecords'|trans }}',
            'sSearch': '',
            'sInfo': '{{ 'paywall.datatable.table.info'|trans }}',
            'sEmpty': '{{ 'paywall.datatable.table.noentries'|trans }}',
            'sInfoFiltered': '{{ 'paywall.datatable.table.filtering'|trans }}',
            'sLengthMenu': '{{ 'paywall.datatable.table.menu'|trans }}',
            'sInfoEmpty': '',
        },
        "bProcessing": true,
        "bAutoWidth": true,
        "bPaging": true,
        "sDom": 'RCf<"clear">rtilp',
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bServerSide": true,
        "sAjaxSource": Routing.generate('newscoop_paywall_userssubscriptions_loadsubscriptions'),
        "aoColumnDefs": [
            { 'bSortable': false, 'aTargets': [ 9 ] }
        ],
        "aoColumns" : [
            { "mData": "username" },
            { "mData": "publication" },
            { "mData": "subscription" },
            { "mData": "topay" },
            { "mData": "currency" },
            { "mData": "type" },
            { "mData": "firstNotify" },
            { "mData": "secondNotify" },
            { "mData": "expiresAt" },
            { "mData": "active", "sClass": "status"},
            { "mData": null, "sWidth": "28%"},
        ],
        fnRowCallback: function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                $('td:eq(0)', nRow).parent().attr('id', aData['id']);
                if (aData['active'] == "Y")
                {
                    $('td:eq(9)', nRow).attr('id','active');
                    $('td:eq(9)', nRow).html("{{ 'paywall.manage.label.active'|trans }}");
                } else {
                    $('td:eq(9)', nRow).attr('id','deactivated');
                    $('td:eq(9)', nRow).html("{{ 'paywall.manage.label.deactivated'|trans }}");
                }

                if (aData['type'] == "P") {
                    $('td:eq(5)', nRow).html('{{ 'paywall.manage.label.paid'|trans }}');
                } else if (aData['type'] == "PN") {
                    $('td:eq(5)', nRow).html('{{'paywall.manage.label.paidnow'|trans }}');
                } else if (aData['type'] == "T") {
                    $('td:eq(5)', nRow).html('{{ 'paywall.manage.label.trial'|trans }}');
                }

                if (aData['firstNotify']) {
                    $('td:eq(6)', nRow).html(aData['firstNotify']['date']);
                } else {
                    $('td:eq(6)', nRow).html('-');
                }

                if (aData['secondNotify']) {
                    $('td:eq(7)', nRow).html(aData['secondNotify']['date']);
                } else {
                    $('td:eq(7)', nRow).html('-');
                }

                if (aData['expiresAt']) {
                    $('td:eq(8)', nRow).html(aData['expiresAt']['date']);
                } else {
                    $('td:eq(8)', nRow).html('-');
                }

                $('td:eq(10)', nRow).empty();
                $('td:eq(10)', nRow).append("<a class='details-subscription btn btn-xs btn-default' href='"+Routing.generate('newscoop_paywall_userssubscriptions_editsubscription', {'id': aData['id']})+"'><span class=\"glyphicon glyphicon-edit\"></span> {{ 'paywall.btn.edit'|trans }}</a>");
                $('td:eq(10)', nRow).append("<a class='delete-action btn btn-xs btn-default' id="+aData['id']+" href='"+Routing.generate('newscoop_paywall_userssubscriptions_delete', {'id': aData['id']})+"'><span class=\"glyphicon glyphicon-trash\"></span> {{ 'paywall.btn.delete'|trans }}</a>");
                if (aData['active'] == "Y") {
                    $('td:eq(10)', nRow).append(" <a class='change-status btn btn-xs btn-default' id="+aData['id']+" href="+Routing.generate('newscoop_paywall_userssubscriptions_deactivate', {'id': aData['id']})+"><span class=\"glyphicon glyphicon-remove-circle\"></span> {{ 'paywall.btn.deactivate'|trans }}</a>");
                } else {
                    $('td:eq(10)', nRow).append(" <a class='change-status btn btn-xs btn-default' id="+aData['id']+" href="+Routing.generate('newscoop_paywall_userssubscriptions_activate', {'id': aData['id']})+"><span class=\"glyphicon glyphicon-ok-circle\"></span> {{ 'paywall.btn.activate'|trans }}</a>");
                }
        },
    });

    function refreshTable(tableId, urlData)
    {
      $.getJSON(urlData, null, function( json )
      {
        table = $(tableId).dataTable();
        oSettings = table.fnSettings();

        table.fnClearTable(this);

        for (var i=0; i<json.aaData.length; i++)
        {
          table.oApi._fnAddData(oSettings, json.aaData[i]);
        }

        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
        table.fnDraw();
      });
    }

    $('#users-subscriptionsTable').on('click', '.change-status', function(event){
        var id = $(this).attr('id');
        var obj = $("#"+id);
        event.preventDefault();
        $.post($(this).attr('href'),
         function(data) {
            if (data.status) {
                if (obj.find('td.status').attr('id') === 'deactivated') {
                    refreshTable('#users-subscriptionsTable', Routing.generate('newscoop_paywall_userssubscriptions_loadsubscriptions'));
                    flashMessage('{{ 'paywall.flash.message.subscription.activated'|trans }}');
                } else {
                    refreshTable('#users-subscriptionsTable', Routing.generate('newscoop_paywall_userssubscriptions_loadsubscriptions'));
                    flashMessage('{{ 'paywall.flash.message.subscription.deactivated'|trans }}');
                }
            } else {
                flashMessage('{{ 'paywall.flash.message.error'|trans }}', 'error');
            }
        });
    });

    $('#users-subscriptionsTable').on('click', '.delete-action', function(event){
        var id = $(this).attr('id');
        var obj = $("tr#"+id);
        event.preventDefault();
        $.post($(this).attr('href'),
         function(data) {
            if (data.status) {
                flashMessage('{{ 'paywall.flash.message.subscription.deleted'|trans }}');
                obj.remove();
            } else {
                flashMessage('{{ 'paywall.flash.message.error'|trans }}', 'error');
            }
        });
    });

    $('#users-subscriptionsTable_length label select').addClass('form-control');
    $('#add-new-subscription').click(function() {
        var edit_template = $('#edit-all-template');
        var addForm = $('#addForm');
        $('#exists-error').hide();
        addForm.attr('action', Routing.generate('newscoop_paywall_userssubscriptions_addsubscription'));
        $('#ui-dialog-title-edit-all-template').text(translations['label.addsubscription']);
        edit_template.attr('title', translations['label.addsubscription']);
        edit_template.dialog();
    });

    $('#subscriptionaddForm_users').css('width', '250px');
    $('#subscriptionaddForm_subscriptions').css('width', '250px');
    $('#subscriptionaddForm_subscriptions').select2({
        minimumInputLength: 1
    }).on("change", function () {
        typeDetails.empty();
        durationDetails.empty();
        priceDetails.empty();
        currencyDetails.empty();
        $('#exists-error').hide();
        getDetails(typeDetails, durationDetails, priceDetails, currencyDetails);
    });
    getDetails(typeDetails, durationDetails, priceDetails, currencyDetails);
    $('#exists-error').hide();
    $('#save').click(function(){
        $('#exists-error').hide();
        $.post(Routing.generate('newscoop_paywall_userssubscriptions_existcheckajax'), {
            'userId': $('#subscriptionaddForm_users').select2('data').id,
            'subscriptionId': $('#subscriptionaddForm_subscriptions').select2('data').id
        }, function(data) {
            if (data.status) {
                $('#exists-error').show();
            } else {
                $('#exists-error').hide();
                $('#addForm').submit();
            }
        });
    });
    $('#subscriptionaddForm_type').css('width', '250px');
    $('#subscriptionaddForm_type').select2();
    $('#subscriptionaddForm_status').css('width', '250px');
    $('#subscriptionaddForm_status').select2();
    $('.dataTables_filter label input').addClass('form-control input-sm');
    $('.dataTables_filter label input').attr('placeholder', '{{ 'paywall.search'|trans }}');

    $("#subscriptionaddForm_users").select2({
        minimumInputLength: 3,
        placeholder: '{{ 'paywall.manage.label.choose'|trans }}',
        id: function(user) { return user.id; },
        ajax: {
            url: Routing.generate('newscoop_paywall_userssubscriptions_getusers'),
            dataType: 'json',
                data: function (term, page) {
                    return {
                        term: term, // search term
                        limit: page,
                    };
                },
                results: function (data, page) {
                    return { results: data };
                }
            },
            formatResult: function(user) { return user.username; },
            formatSelection: function(user) { return user.username; },
    }).on("change", function () {
       $('#exists-error').hide();
    });;
});
</script>
{% endblock %}
{% block admin_content %}
<div class="plugin-container">
<div id="subscription">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 3} %}
    <fieldset class="actions" style="background-color: #fff;">
        <input type="button" id="add-new-subscription" class="form-control btn-sm btn-primary" value="{{ 'paywall.manage.label.addnew'|trans }}">
    </fieldset>
    <div id="edit-all-template" style="display: none">
        <form id="addForm" method="post" {{ form_enctype(form) }}>
            <div class="table">
                 <div class="tr">
                    <div class="td alert error" id="exists-error">{{ 'paywall.manage.error.exists.subscription'|trans }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.users) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.users) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.subscriptions) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.subscriptions) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.type) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.type) }}</div>
                </div>
                <div class="tr">
                    <div class="td"><strong>{{ form_label(form.status) }}</strong></div>
                </div>
                <div class="tr">
                    <div class="td">{{ form_widget(form.status) }}</div>
                </div>
                 <div class="tr">
                    <div class="td"><strong>{{ 'paywall.manage.label.subscriptiondetails'|trans }}:</strong></div>
                </div>
                <div class="tr">
                    <div class="td" id="typeDetails"><strong>{{ 'paywall.step2.label.type'|trans }}: </strong><span></span></div>
                </div>
                <div class="tr">
                    <div class="td" id="durationDetails"><strong>{{ 'paywall.step2.label.durationbox'|trans }}: </strong><span></span></div>
                </div>
                <div class="tr">
                    <div class="td" id="priceDetails"><strong>{{ 'paywall.step2.label.price'|trans }}: </strong><span></span></div>
                </div>
                <div class="tr">
                    <div class="td" id="currencyDetails"><strong>{{ 'paywall.step2.label.currency'|trans }}: </strong><span></span></div>
                </div>
                <hr>
                <div class="tr">
                    <div class="td">
                        <input type="button" id="save" value="{{ 'paywall.btn.add'|trans }}" class="save-button">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="users-subscriptions" style="padding: 10px 10px 30px 10px;">
        <table cellpadding="0" cellspacing="0" border="0" class="display" style="width: 100%" id="users-subscriptionsTable">
            <thead>
                <tr>
                    <th>{{ 'paywall.manage.label.username'|trans }}</th>
                    <th>{{ 'paywall.step1.form.select.type.publication'|trans }}</th>
                    <th>{{ 'paywall.step1.form.label.subscription'|trans }}</th>
                    <th>{{ 'paywall.manage.label.topay'|trans }}</th>
                    <th>{{ 'paywall.step2.label.currency'|trans }}</th>
                    <th>{{ 'paywall.manage.label.paymenttype'|trans }}</th>
                    <th>{{ 'paywall.manage.label.firstNotify'|trans }}</th>
                    <th>{{ 'paywall.manage.label.secondNotify'|trans }}</th>
                    <th>{{ 'paywall.manage.label.expiresAt'|trans }}</th>
                    <th>{{ 'paywall.step2.label.active'|trans }}</th>
                    <th>{{ 'paywall.manage.label.options'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}