
{% import 'NewscoopPaywallBundle:Macros:buttons.html.twig' as buttons %}
{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.discounts'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
{% endblock %}
{% block admin_content %}
<div class="plugin-container">
    {% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 5} %}
    <div id="configure-paywall" class="box_table">
        <div class="pull-right">
            {{ buttons.create(path('paywall_plugin_discount_create'), 'paywall.btn.creatediscount'|trans) }}
        </div>
        <center>
            {% if pagination|length > 0 %}
            <div class="table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>{{ knp_pagination_sortable(pagination, '#ID', 'd.id') }}</th>
                      <th>{{ knp_pagination_sortable(pagination, 'paywall.manage.label.name'|trans, 'd.name') }}</th>
                      <th>{{ knp_pagination_sortable(pagination, 'paywall.manage.label.description', 'd.description') }}</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                {% for discount in pagination %}
                <tr>
                    <td>{{ discount.id }}</td>
                    <td>{{ discount.name }}</td>
                    <td>{{ discount.description }}</td>
                    <td>
                        {{ buttons.show(path('paywall_plugin_discount_show', {'id': discount.id})) }}
                        {{ buttons.edit(path('paywall_plugin_discount_edit', {'id': discount.id})) }}
                        {{ buttons.delete(path('paywall_plugin_discount_delete', {'id': discount.id})) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        No discounts found.
        {% endif %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</center>
</div>
</div>
{% endblock %}