{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Paywall{% endblock %}
{% block admin_page_title_content %}{{ getGS('Configuration') }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.js') }}"></script>
<script type="text/javascript">
function format(item) { return item.name; };
function formatDiv(item) { return "<div class='select2-results'>" + item.name + "</div>"; }
<!--
$(document).ready(function() {
	$('#step2').hide();
	$('#step1').show();
	$("#e1").select2();
	$("#next").click(function(){
		var titleIssue = $('#title-issue');
		var titleSection = $('#title-section');
		var titleArticle = $('#title-article');
		$('.errors').empty();
		$(this).prop("disabled", true);
		if ($('#subscriptionconf_name').data('validName')) {
			$('#next').prop("disabled", true);
			$.ajax({
				type: "POST",
				url: $('#confForm').attr("action"),
				data: $('#confForm').serialize(),
				dataType: "json",
				success: function(msg){
					if (msg.status === true) {
						var type = $('#subscriptionconf_type').val();
						$('#step1').hide();
						$('#step2').show();
						$('#titleBox').append($('#subscriptionconf_name').val());
						$('#typeBox').append($('#subscriptionconf_type').val());
						$('#durationBox').append($('#subscriptionconf_range').val() == 1 ? $('#subscriptionconf_range').val()+' day': $('#subscriptionconf_range').val()+' days');
						$('#valueBox').append($('#subscriptionconf_price').val());
						$('#currencyBox').append($('#subscriptionconf_currency').val());
						
						if (type == 'publication' || type == 'issue' || type == 'section' || type == 'article') {
							titleIssue.empty();
							titleSection.empty();
							titleArticle.empty();
							$('#selectIssues').prop('disabled', 'disabled');
							$("#selectPublications").select2({
								placeholder: "Select publication",
								ajax: {
									url: "{{ path('newscoop_paywall_admin_getpublications') }}",
									dataType: 'json',
									results: function (data) {
										return {results: data};
									}
								},
								initSelection: function(element, callback) {
									var data = {id: element.val(), text: element.val()};
									callback(data);
								},
								formatResult: formatDiv,
							    formatSelection: format,
								escapeMarkup: function (m) { return m; }

							}).on("change", function (e) {
								$("#selectIssues").select2("enable", true);
								$('#subscriptionName').attr('value', $('#subscriptionconf_name').val());
								$('#specificationForm_publication').attr('value', $("#selectPublications").select2("val"));         
							});
						}

						if (type == 'issue' || type == 'section' || type == 'article') {
							if (type == 'issue') {
								titleIssue.append('Issues: ');
							}
							titleSection.empty();
							titleArticle.empty();
							$('#selectSections').prop('disabled', 'disabled');
							$("#selectIssues").select2({
								placeholder: "Select an issue",
								ajax: {
									url: "{{ path('newscoop_paywall_admin_getissues') }}",
									dataType: 'json',
									data: function () {
										return {
											publicationId: $("#selectPublications").select2("val")
										};
									},
									results: function (data) {
										return {results: data};
									}
								},
								initSelection: function(element, callback) {
									var data = {id: element.val(), text: element.val()};
									callback(data);
								},
								formatResult: formatDiv,
							    formatSelection: format,
								escapeMarkup: function (m) { return m; }
							}).on("change", function (e) {
								$("#selectSections").select2("enable", true);
								$('#specificationForm_issue').attr('value', $("#selectIssues").select2("val"));           
							});
						}

						if (type == 'section' || type == 'article') {
							titleIssue.append('Issues: ');
							titleSection.append('Sections: ');
							titleArticle.empty();
							$('#selectArticles').prop('disabled', 'disabled');
							$("#selectSections").select2({
								placeholder: "Select section",
								ajax: {
									url: "{{ path('newscoop_paywall_admin_getsections') }}",
									dataType: 'json',
									data: function () {
										return {
											publicationId: $("#selectPublications").select2("val"),
											issueId: $("#selectIssues").select2("val")
										};
									},
									results: function (data) {
										return {results: data};
									}
								},
								initSelection: function(element, callback) {
									var data = {id: element.val(), text: element.val()};
									callback(data);
								},
								formatResult: formatDiv,
							    formatSelection: format,
								escapeMarkup: function (m) { return m; }
							}).on("change", function (e) {
								$("#selectArticles").select2("enable", true);
								$('#specificationForm_section').attr('value', $("#selectSections").select2("val"));          
							}); 
						}

						if (type == 'article') {
							titleArticle.append('Articles: ');
							$("#selectArticles").select2({
								placeholder: "Select an article",
								ajax: {
									url: "{{ path('newscoop_paywall_admin_getarticles') }}",
									dataType: 'json',
									data: function () {
										return {
											publicationId: $("#selectPublications").select2("val"),
											issueId: $("#selectIssues").select2("val"),
											sectionId: $("#selectSections").select2("val")
										};
									},
									results: function (data) {
										return {results: data};
									}
								},
								initSelection: function(element, callback) {
									var data = {id: element.val(), text: element.val()};
									callback(data);
								},
								escapeMarkup: function (m) { return m; }
							}).on("change", function (e) {
								$('#specificationForm_article').attr('value', $("#selectArticles").select2("val"));
							});
						}
						if (window.location.pathname === '{{ path('newscoop_paywall_admin_update', {'id': subscription_id }) }}') {
							$.post('{{ path('newscoop_paywall_admin_getall') }}', {
								'publicationId': $("#specificationForm_publication").val(),
								'issueId': $("#specificationForm_issue").val(),
								'sectionId': $("#specificationForm_section").val(),
								'articleId': $("#specificationForm_article").val()
							}, function (data) {
								$("#s2id_selectPublications .select2-choice .select2-chosen").empty();
								$("#s2id_selectPublications .select2-choice .select2-chosen").append(data.Publications[0].name);
								$("#s2id_selectIssues .select2-choice .select2-chosen").empty();
								$("#s2id_selectIssues .select2-choice .select2-chosen").append(data.Issues[0].name);
								$("#s2id_selectSections .select2-choice .select2-chosen").empty();
								$("#s2id_selectSections .select2-choice .select2-chosen").append(data.Sections[0].name);
								$("#s2id_selectArticles .select2-choice .select2-chosen").empty();
								$("#s2id_selectArticles .select2-choice .select2-chosen").append(data.Articles[0].text);
							}, 'json');
						}
					} else {
						var ul = $('<ul></ul>');
						ul.appendTo($('.errors'));
						$('.errors').css('color', '#FF2200');
						$.each($.parseJSON(msg.errors), function (i, obj) {
						    ul.append('<li>'+obj+'</li>');
						});
					}
				}
			});

		} else {
			$('#next').prop("disabled", false);
			$('.errors').css('color', '#FF2200').append('<ul><li>Name of subscription already exists or field is empty!</li></ul>');
		}

		return false;      
	});

	$('#skip').click(function() {
		window.location.href = "{{ path('newscoop_paywall_managesubscriptions_manage') }}";
	});

	var delay = (function(){
		var timer = 0;
	  	return function(callback, ms){
	    	clearTimeout (timer);
	    	timer = setTimeout(callback, ms);
	  	};
	})();

	$('#subscriptionconf_name').change(function() {
		var name = $('#subscriptionconf_name');
		$.post('{{ path('newscoop_paywall_admin_check') }}', {
			'subscriptionName': $(this).val()
		}, function (data) {
			if (data.status) {
				name.css('color', 'rgb(0, 128, 0)');
				name.data('validName', true);
				$('.errors').empty();
			} else {
				name.css('color', 'rgb(255, 0, 0)');
				name.data('validName', false);
			}
		}, 'json');
	}).keyup(function() {
		delay(function(){
			$('#subscriptionconf_name').change();
	    }, 1000 );
	});
});
//-->
</script>
{% endblock %}

{% block admin_content %}
{% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 1} %}
<div id="add-subscription" style="padding: 10px 10px 30px 10px;">
	<form id="confForm" action="{{ path('newscoop_paywall_admin_update', {'id': subscription_id }) }}" method="post" {{ form_enctype(form) }} >
		<table id="step1" border="0" cellspacing="0" cellpadding="0" class="box_table">
			<tbody>
				<tr>
					<td colspan="2" align="left">
						<input class="save-button" name="step1" value="{{ getGS('(1) Specify type and value') }}" disabled>
						<input class="button" name="step2" value="{{ getGS('(2) Specify articles') }}" disabled><br><br>
						<strong>Please specify the name and value for your new subscription. You can set up various diffrent types<br> of subscriptions, but just one after the other.</strong>
					</td>
				</tr>
				<tr>
					<td>
						<div class="errors"></div>
					</td>
				</tr>
				<tr>
					<td align="left">	
						{{ form_label(form.name) }}
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						{{ form_widget(form.name, {'attr' : {'class' : 'input_text'}}) }}
					</td>
				</tr>
				<tr>
					<td align="left">
						{{ form_label(form.type) }} 
					</td>
				</tr>
				<tr>
					<td>
						{{ form_widget(form.type, {'attr' : {'class' : 'input_select'}}) }}
					</td>
				</tr>
				<tr>
					<td align="left">
						{{ form_label(form.range) }}    
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						{{ form_widget(form.range, {'attr' : {'class' : 'input_text'}}) }}
					</td>
				</tr>
				<tr>
					<td align="left">
						{{ form_label(form.price) }}    
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						{{ form_widget(form.price, {'attr' : {'class' : 'input_text'}}) }}
					</td>
				</tr>
				<tr>
					<td align="left">
						{{ form_label(form.currency) }}    
					</td>
				</tr>
				<tr>
					<td align="left" valign="top">
						{{ form_widget(form.currency, {'attr' : {'class' : 'input_text'}}) }}
					</td>
				</tr>
				<tr>
					<td colspan="2"><hr></td>
				</tr>
				<tr>
					<td colspan="2" align="right" style="padding-top: 10px;">
						<input type="submit" id="next" value="Next" class="save-button">
					</td>
				</tr>
				{{ form_rest(form) }}
			</tbody>
		</table>
	</form>
	<form id="step2Form" action="{{ path('newscoop_paywall_admin_step2', {'id': subscription_id }) }}" method="post" {{ form_enctype(formSpecification) }}>
		<table id="step2" border="0" cellspacing="0" cellpadding="0" class="box_table">
			<tbody>
				<tr>
					<td colspan="2" align="left">
						<input class="button" type="submit" name="step1" value="{{ getGS('(1) Specify type and value') }}" disabled>
						<input class="save-button" name="step2" value="{{ getGS('(2) Specify articles') }}" disabled><br><br>
						<div style="float: left"><strong>Please specify which articles exactly should be visible for subscribers only.</strong><br><br>
							
							<table border="0" cellspacing="0" cellpadding="0" class="display">
								<tbody>
									<tr>
										<td align="left">	
											Publications:
										</td>
									</tr>
									<tr>
										<td align="left" valign="top">
											<input id="subscriptionName" name="subscriptionTitle" type="hidden"></input>
										</td>
									</tr>
									<tr>
										<td align="left" valign="top">
											<div id="selectPublications" style="width:350px" class="populate placeholder"></div>
											{{ form_widget(formSpecification.publication, {'attr' : {'style' : 'display: none'}}) }}
										</td>
									</tr>
									<tr>
										<td id="title-issue" align="left"></td>
									</tr>
									<tr>
										<td align="left" valign="top">
											<div id="selectIssues" style="width:350px" class="populate placeholder"></div>
											{{ form_widget(formSpecification.issue, {'attr' : {'style' : 'display: none'}}) }}
										</td>
									</tr>
									<tr>
										<td id="title-section" align="left"></td>
									</tr>
									<tr>
										<td align="left" valign="top">
											<div id="selectSections" style="width:350px" class="populate placeholder"></div>
											{{ form_widget(formSpecification.section, {'attr' : {'style' : 'display: none'}}) }}
										</td>
									</tr>
									<tr>
										<td id="title-article" align="left">
											Articles: 
										</td>
									</tr>
									<tr>
										<td align="left" valign="top">
											<div id="selectArticles" name="articleNumber" style="width:350px" class="populate placeholder"></div>
											{{ form_widget(formSpecification.article, {'attr' : {'style' : 'display: none'}}) }}
										</td>
									</tr>
									{{ form_widget(formSpecification._token) }}
								</tbody>
							</table>
						</div>
						<div style="float: right">
							<table border="0" cellspacing="1" cellpadding="3" class="table_list">
								<tbody><tr class="table_list_header">
									<td align="left" id="titleBox" valign="top"></td>
									<td align="center" valign="top"></td>
									<tr>
										<td align="left">Type:</td>
										<td id="typeBox"></td>
									</tr>
									<tr>
										<td align="left">Duration:</td>
										<td id="durationBox"></td>
									</tr>
									<tr>
										<td align="left">Value:</td>
										<td id="valueBox"></td>
									</tr>
									<tr>
										<td align="left">Currency:</td>
										<td id="currencyBox"></td>
									</tr>
								</tbody></table>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<tr>
						<td colspan="2"><hr></td>
					</tr>
					<td colspan="2" align="right" style="padding-top: 10px;">
						<input type="button" id="skip" value="Skip" class="button">
						<input type="submit" id="save" value="Save" class="save-button">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
{% endblock %}