{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Paywall{% endblock %}
{% block admin_page_title_content %}{{ getGS('Configuration') }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/scripts/chosen/chosen.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooppaywall/scripts/chosen/chosen.jquery.js') }}"></script>
<script type="text/javascript">
<!--
$(document).ready(function() {
	$('#step2').hide();
	$('#step1').show();
	$('#sub_type_table').hide();

	$("#confForm").submit(function(){

		var subTitle = $('#sub_type_title');
		var titleBox = $('#titleBox');
		var typeBox = $('#typeBox');
		var durationBox = $('#durationBox');
		var valueBox = $('#valueBox');
		var currencyBox = $('#currencyBox');
		if ($('#subscriptionconf_name').data('validName')) {
			var type = $('#subscriptionconf_type').val();
			$('#step1').hide();
			$('#step2').show();
			$('#sub_type_table').show();

			if(type == 'publication') {
				subTitle.html('');
				titleBox.html('');
				typeBox.html('');
				durationBox.html('');
				valueBox.html('');
				currencyBox.html('');
				titleBox.append($('#subscriptionconf_name').val());
				typeBox.append($('#subscriptionconf_type').val());
				durationBox.append($('#subscriptionconf_range').val() == 1 ? $('#subscriptionconf_range').val()+' day': $('#subscriptionconf_range').val()+' days');
				valueBox.append($('#subscriptionconf_price').val());
				currencyBox.append($('#subscriptionconf_currency').val());
				subTitle.append('Articles of Publication: ');

				$.post('{{ path('newscoop_paywall_admin_getpublications') }}', 
					function (data) {
						$.each(data, function() {
							$('#selectField').html('');
							$.each(this, function(key, value) {
								$('#selectField').append($('<option>', { value : key }).text(value));
							});
						});
					}, 'json');

			}else if(type == 'issue') {
				subTitle.html('');
				subTitle.append('Articles of Issue: ')
			}else if(type == 'section') {
				subTitle.html('');
				subTitle.append('Articles of Section: ')
			}else if(type == 'article') {
				subTitle.html('');
				subTitle.append('Articles: ')
			}
		}else{
			alert('Name of subscription already exists!');
		}
		return false;      
	});
$('#step1btn').click(function(e){

	$('#step1').show();
	$('#step2').hide();
	e.preventDefault();
});

$('#subscriptionconf_name').change(function() {
	var name = $('#subscriptionconf_name');
	$.post('{{ path('newscoop_paywall_admin_check') }}', {
		'subscriptionName': $(this).val()
	}, function (data) {
		if (data.status) {
			name.css('color', 'rgb(0, 128, 0)');
			name.data('validName', true);
		} else {
			name.css('color', 'rgb(255, 0, 0)');
			name.data('validName', false);
		}
	}, 'json');
}).keyup(function() {
	$(this).change();
});

});
//-->
</script>
<script type="text/javascript"> 
$('.chzn-select').chosen();
</script>
{% endblock %}

{% block admin_content %}
<div id="subscription" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="{{ path('newscoop_paywall_admin_admin') }}">Add new subscription</a></li>
		<li class="ui-state-default ui-corner-top"><a href="{{ path('newscoop_paywall_managesubscriptions_manage') }}">Manage Subscriptions</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#manageuser">Manage User Subscriptions</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#settings">{{ getGS('Configure Paywall') }}</a></li>
	</ul>
	<div id="configure">
		<form id="confForm" action="{{ path('newscoop_paywall_admin_admin') }}" method="post" {{ form_enctype(form) }} >
			<table id="step1" border="0" cellspacing="0" cellpadding="0" class="box_table">
				<tbody>
					<tr>
						<td colspan="2" align="left">
							<div class="errors">
								{{ form_errors(form) }}
							</div>
							<input class="save-button" name="step1" value="{{ getGS('(1) Specify type and value') }}" disabled>
							<input class="button" name="step2" value="{{ getGS('(2) Specify articles') }}" disabled><br><br>
							<strong>Please specify the name and value for your new subscription. You can set up various diffrent types<br> of subscriptions, but just one after the other.</strong>
						</td>
					</tr>
					<tr>
						<td align="left">	
							{{ form_label(form.name) }}
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.name, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.type) }} 
						</td>
					</tr>
					<tr>
						<td>
							{{ form_widget(form.type, {'attr' : {'class' : 'input_select'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.range) }}    
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.range, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.price) }}    
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.price, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.currency) }}    
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.currency, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td colspan="2"><hr></td>
					</tr>
					<tr>
						<td colspan="2" align="right" style="padding-top: 10px;">
							<input type="submit" id="next" value="Next" class="save-button">
						</td>
					</tr>
					{{ form_rest(form) }}
				</tbody>
			</table>
			<table id="step2" border="0" cellspacing="0" cellpadding="0" class="box_table">
				<tbody>
					<tr>
						<td colspan="2" align="left">
							<div class="errors">
								{{ form_errors(form) }}
							</div>
							<input class="button" type="submit" id="step1btn" name="step1" value="{{ getGS('(1) Specify type and value') }}">
							<input class="save-button" name="step2" value="{{ getGS('(2) Specify articles') }}" disabled><br><br>
							<div style="float: left"><strong>Please specify which articles exactly should be visible for subscribers only.</strong><br><br>
								<span id="sub_type_title" class="article-title"></span>
								<div>       
									<select id="selectField" data-placeholder="Choose..." class="chzn-select" style="width:350px;" tabindex="2">
									</select>
								</div>
							</div>
							<div style="float: right">
								<table border="0" cellspacing="1" cellpadding="3" class="table_list">
									<tbody><tr class="table_list_header">
										<td align="left" id="titleBox" valign="top"></td>
										<td align="center" valign="top"></td>
										<tr>
											<td align="left">Type</td>
											<td id="typeBox"></td>
										</tr>
										<tr>
											<td align="left">Duration</td>
											<td id="durationBox"></td>
										</tr>
										<tr>
											<td align="left">Value</td>
											<td id="valueBox"></td>
										</tr>
										<tr>
											<td align="left">Currency</td>
											<td id="currencyBox"></td>
										</tr>
									</tbody></table>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
{% endblock %}