{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Paywall{% endblock %}
{% block admin_page_title_content %}{{ getGS('Configuration') }}{% endblock %}

{% block admin_stylesheets %}{% endblock %}
{% block admin_scripts %}
<script type="text/javascript">
<!--
$(document).ready(function() {
    // tabs
    $('#subscription').tabs()
    .css('border', 'none');

    $('#step2').hide();
    $('#sub_type_table').hide();

    $("#confForm").submit(function(){
    	var name = $("#subscriptionconf_name").val();
    	var type = $("#subscriptionconf_type").val();
    	/*$.ajax({
    		type: "POST",
    		url: "/admin/paywall_plugin/test",
    		data: { nameSub: name }
    	}).done(function( msg ) {
    		alert( "Data Saved: " + msg );
		$('#subscriptionconf_name').css({'background-color' : '#FF2200'});
	});*/
    $('#step1').hide();
    $('#step2').show();
    $('#sub_type_table').show();

    if(type == 'publication') {
    	$('#sub_type_title').html('');
    	$('#sub_type_title').append('Articles of Publication: ');
    }else if(type == 'issue') {
    	$('#sub_type_title').html('');
    	$('#sub_type_title').append('Articles of Issue: ')
    }else if(type == 'section') {
    	$('#sub_type_title').html('');
    	$('#sub_type_title').append('Articles of Section: ')
    }else if(type == 'article') {
    	$('#sub_type_title').html('');
    	$('#sub_type_title').append('Articles: ')
    }

    return false;      
});

    $('#step1btn').click(function(e){
    	$('#step1').show();
    	$('#step2').hide();
    	e.preventDefault();
    });
});
//-->
</script>
{% endblock %}

{% block admin_content %}
<div id="subscription" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top"><a href="#configure">Add new subscription</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#manage">{{ getGS('Manage Subscriptions') }}</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#manageuser">Manage User Subscriptions</a></li>
		<li class="ui-state-default ui-corner-top"><a href="#settings">{{ getGS('Configure Paywall') }}</a></li>
	</ul>
	<div id="configure">
		<form id="confForm" action="{{ path('newscoop_paywall_admin_admin') }}" method="post" {{ form_enctype(form) }} >
			<table id="step1" border="0" cellspacing="0" cellpadding="0" class="box_table">
				<tbody>
					<tr>
						<td colspan="2" align="left">
							<div class="errors">
								{{ form_errors(form) }}
							</div>
							<input class="save-button" name="step1" value="{{ getGS('(1) Specify type and value') }}" disabled>
							<input class="button" name="step2" value="{{ getGS('(2) Specify articles') }}" disabled><br><br>
							<strong>Please specify the name and value for your new subscription. You can set up various diffrent types<br> of subscriptions, but just one after the other.</strong>
						</td>
					</tr>
					<tr>
						<td align="left">	
							{{ form_label(form.name) }}
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.name, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.type) }} 
						</td>
					</tr>
					<tr>
						<td>
							{{ form_widget(form.type, {'attr' : {'class' : 'input_select'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.range) }}    
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.range, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.price) }}    
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.price, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td align="left">
							{{ form_label(form.currency) }}    
						</td>
					</tr>
					<tr>
						<td align="left" valign="top">
							{{ form_widget(form.currency, {'attr' : {'class' : 'input_text'}}) }}
						</td>
					</tr>
					<tr>
						<td colspan="2"><hr></td>
					</tr>
					<tr>
						<td colspan="2" align="right" style="padding-top: 10px;">
							<input type="submit" id="next" value="Next" class="save-button">
						</td>
					</tr>
					{{ form_rest(form) }}
				</tbody>
			</table>
			<table id="step2" border="0" cellspacing="0" cellpadding="0" class="box_table">
				<tbody>
					<tr>
						<td colspan="2" align="left">
							<div class="errors">
								{{ form_errors(form) }}
							</div>
							<input class="button" type="submit" id="step1btn" name="step1" value="{{ getGS('(1) Specify type and value') }}">
							<input class="save-button" name="step2" value="{{ getGS('(2) Specify articles') }}" disabled><br><br>
							<strong>Please specify which articles exactly should be visible for subscribers only.</strong><br><br>
							<span id="sub_type_title" class="article-title"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="sub_type_table" border="0" cellspacing="1" cellpadding="3" class="table_list">
				<tbody><tr class="table_list_header">
							<td align="center" valign="top">Numer</td>
					<td align="left" valign="top">Nazwa<br></td>
					<td align="left" valign="top">Domyślny alias strony</td>
				</tr>
				<tr class="list_row_odd">
					<td align="center"></td>
					<td>
						
					</td>
					<td>
						
					</td>
				</tr>
			</tbody></table>
		</form>
	</div>
	<div id="manage">
		<!--{{ render(controller('NewscoopPaywallBundle:ManageSubscriptions:manage') }} -->
		{% include 'NewscoopPaywallBundle:ManageSubscriptions:manage.html.twig' %}
	</div>
	<div id="settings">
		<p>tab3..</p>
	</div>
</div>
{% endblock %}