{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.configure'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.css') }}" />
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('public/bundles/newscooppaywall/scripts/select2-3.4.1/select2.js') }}"></script>
<script type="text/javascript">
function format(item) { return item.text; };
function formatDiv(item) { return "<div class='select2-results'>" + item.text + "</div>"; }
$(document).ready(function(){
    $("#selectProviders").select2({
        placeholder: "Choose...",
        ajax: {
            url: Routing.generate('newscoop_paywall_configurepaywall_index'),
            dataType: 'json',
            results: function (data) {
                return {results: data};
            }
        },
        initSelection: function(element, callback) {
            var data = {id: element.val(), text: element.val()};
            callback(data);
        },
        formatResult: formatDiv,
        formatSelection: format,
        escapeMarkup: function (m) { return m; }

    });

    $('#save').click(function(){
        $.post(Routing.generate('newscoop_paywall_getconfiguration', {id: $('#selectProviders').select2('data').id}), { 
        }, function (data) {
            if (data.status) {
                $('#current').empty();
                $('#current').append($('#selectProviders').select2('data').text);
                $('#selectProviders').select2('data', null);
                flashMessage('{{ 'paywall.flash.message.provider.changed'|trans }}');
            }
        }, 'json');
    });

});
</script>
{% endblock %}
{% block admin_content %}
{% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 4} %}
<div class="table">
    <div class="tr">
        <div class="td"><strong>Current Provider</strong></div>
    </div>
    <div class="tr">
        <div class="td" id="current">{{ current }}</div>
    </div>
    <div class="tr">
        <div class="td"><strong>{{ 'paywall.manage.label.adapters'|trans }}</strong></div>
    </div>
    <div class="tr">
        <div class="td"><div id="selectProviders" style="width:350px" class="populate placeholder"></div></div>
    </div>
    <hr>
    <div class="tr">
        <div class="td">
            <input type="button" id="save" value="{{ 'paywall.btn.save'|trans }}" class="save-button">
        </div>
    </div>
</div>
{% endblock %}