{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {{ 'paywall.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'paywall.toolbar.label.configure'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscooppaywall/css/admin_paywall.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('/js/select2/select2.css') }}" />
<style>
#paywall-settingsTable {float: left; margin-top: 0px; margin-right: 25px; width: 400px;}
.paywall-configure-bg {background-color: #ECECEC;}
.alert-align {text-align: center;}
</style>
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('/js/select2/select2.js') }}"></script>
<script type="text/javascript">
function format(item) { return item.text; };
function formatDiv(item) { return "<div class='select2-results'>" + item.text + "</div>"; }
$(document).ready(function(){
    $('.td.alert.error').hide();
    $("#settingsForm_adapter").select2({
        placeholder: "Choose...",
        ajax: {
            url: Routing.generate('newscoop_paywall_configurepaywall_index'),
            dataType: 'json',
            results: function (data) {
                return {results: data};
            }
        },
        initSelection: function(element, callback) {
            var data = {id: element.val(), text: element.val()};
            callback(data);
        },
        formatResult: formatDiv,
        formatSelection: format,
        escapeMarkup: function (m) { return m; }

    });
});
</script>
{% endblock %}
{% block admin_content %}
<div class="plugin-container">
{% include "NewscoopPaywallBundle::admin_menu.html.twig" with {active: 4} %}
<div id="configure-paywall" class="box_table">
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alerts alert-align alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alerts alert-align alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ flashMessage }}
    </div>
{% endfor %}
<center>
<div class="table" style="width: inherit;">
<form action="{{ path('newscoop_paywall_configurepaywall_index') }}" method="post" {{ form_enctype(form) }} >
    <table id="paywall-settingsTable" border="0" cellspacing="0" cellpadding="0" class="box_table">
        <tbody>
            <tr class="paywall-configure-bg">
                <td align="left" class="paywall-configure-size paywall-configure-border">
                    <strong>{{ 'paywall.manage.label.current'|trans }}</strong>
                </td>
            </tr>
            <tr>
                <td class="paywall-configure-border" id="current">
                    {{ current }}
                </td>
            </tr>
            <tr class="paywall-configure-bg">
                <td align="left" class="paywall-configure-size paywall-configure-border">
                    <b>{{ 'paywall.msg.providername'|trans }}</b> <br>
                    <small>{{ 'paywall.msg.providersmall'|trans }}</small>
                </td>
            </tr>
            <tr>
                <td class="paywall-configure-border">
                    {{ form_widget(form.adapter, {'attr' : {'style' : 'width: 383px;'}}) }}
                </td>
            </tr>
            <tr class="paywall-configure-bg">
                <td align="left" class="paywall-configure-size paywall-configure-border">
                    <b>{{ 'paywall.msg.enableNotify'|trans }}</b> <br>
                    <small>{{ 'paywall.msg.enableNotifydesc'|trans }}</small>
                </td>
            </tr>
            <tr>
                <td class="paywall-configure-border">
                    {{ form_widget(form.enableNotify) }}
                </td>
            </tr>
            <tr class="paywall-configure-bg">
                <td align="left" class="paywall-configure-size paywall-configure-border">
                    <b>{{ 'paywall.msg.membershipemaillabel'|trans }}</b> <br>
                    <small>{{ 'paywall.msg.membershipemail'|trans }}</small>
                </td>
            </tr>
            <tr>
                <td class="paywall-configure-border">
                    {{ form_widget(form.notificationEmail, {'attr' : {'class' : 'form-control'}}) }}
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr></td>
            </tr>
            <tr>
                <td colspan="2" align="right" style="padding-top: 10px;">
                    <button type="submit" class="btn btn-primary">{{ 'paywall.btn.save'|trans }}</button>
                </td>
            </tr>
            {{ form_rest(form) }}
        </tbody>
    </table>
</form>
</div>
</center>
</div>
</div>
{% endblock %}